body {
    background: #f3f3f3;
}
.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 9px;
}
.white {
    background: #ffffff;
}
.red {
    background: #ff0000;
}
.orange {
    background: #ffa500;
}
.black {
    background: #000;
}

.green {
    background: #008000;
}


