<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Box Game</title>
</head>
<body>
<div class="container">
    <div id="app">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-3">
                <h3>Box Game</h3>
                <template v-if="gameFinish">
                    <div class="alert" :class="result ? 'alert-success' : 'alert-danger'">{{message}}</div>
                    <button type="button" class="btn btn-success" @click="playAgain">Play Again</button>
                </template>

            </div>
        </div>
        <box-game @box-click="boxClick" :colors="colors"></box-game>

    </div>
</div>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/app.js"></script>
</body>
</html>